<!DOCTYPE html>

<head>
    <title>Contoh Surat Pernyataan</title>
    <meta charset="utf-8">
    <style>
        #halaman {
            width: 768px;
            height: auto;
            position: absolute;
            border: 1px solid;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 80px;
        }

        .kop-surat p {
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .judul p,
        h3 {
            margin-top: 2px;
            margin-bottom: 0px;
            text-align: center;
        }
    </style>

</head>

<body>

    <div id=halaman>
        <div class="kop-surat">
            <p align="center"> PEMERINTAH DESA LAMPENAI </p>
            <p align="center"> KECAMATAN WOTU </p>
            <p align="center"> KABUPATEN LUWU TIMUR </p>
            <p align="center"> Alamat : JL. Batara Guru No. 08 Wotu (92971) </p>
            <hr>
        </div>
        <br>

        <div class="judul">
            <h3 id=judul style="text-decoration: underline;">SURAT KETERANGAN PEKERJAAN ORANG TUA</h3>
            <p align="center">No : 000 / 619 / DLN / VII / 2020 </p>
        </div>

        <p><span style="color: white;">___</span>Yang bertanda tangan dibawah ini : </p>

        <table style="margin-left: 10%;">
            <tr>
                <td style="width: 30%;">Nama</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Jabatan</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
        </table>

        <p><span style="color: white;">___</span> Menerangkan bahwa yang bersangkutan di bawah ini,</p>

        <table style="margin-left: 10%;">
            <tr>
                <td style="width: 30%;">Nama</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Jenis Kelamin</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Tempat, Tanggal lahir</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Pekerjaan</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%; vertical-align: top;">Agama</td>
                <td style="width: 5%; vertical-align: top;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">No. KTP/NIK</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Alamat</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
        </table>

        <p><span style="color: white;">___</span> Oknum tersebut diatas adalah penduduk yang berdomisili di Dsn. Sumber
            Nyiur,Desa Lampenai, Kecamatan Wotu Kabupaten Luwu Timur, dan sejauh pengetahuan kami memiliki pekerjaan
            yang tertera diatas.</p>
        <p><span style="color: white;">___</span>Demikian Surat Keterangan ini diberikan kepada yang bersangkutan untuk
            dipergunakan sebagaimana mestinya.</p><br><br>



        <div style="width: 40%; text-align: left; float: right;">Lampenai, 28 September 2020 </div><br>
        <div style="width: 40%; text-align: left; float: right;">Kepala Desa Lampenai</div><br><br><br><br><br>
        <div style="width: 40%; text-align: left; float: right;">M. ZAENAL BACHRIE, S.AN</div>

    </div>
</body>

</html>