<!DOCTYPE html>

<head>
    <title>Contoh Surat Pernyataan</title>
    <meta charset="utf-8">
    <style>
        #judul {
            text-align: center;
        }

        #halaman {
            width: 768px;
            height: auto;
            position: absolute;
            border: 1px solid;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 80px;
        }

        .kop-surat p {
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .kepada-yth {
            position: absolute;
            right: 10%;
        }

        .kepada-yth p {
            margin-top: 2px;
            margin-bottom: 0px;
        }
    </style>

</head>

<body>

    <div id=halaman>
        <div class="kop-surat">
            <p align="center"> PEMERINTAH DESA LAMPENAI </p>
            <p align="center"> KECAMATAN WOTU </p>
            <p align="center"> KABUPATEN LUWU TIMUR </p>
            <p align="center"> Alamat : JL. Batara Guru No. 08 Wotu (92971) </p>
            <hr>
        </div>

        <div class="kepada-yth">
            <p> Kepada </p>
            <p> Yth. Bapak Kapolsek Wotu </p>
            <p> Di - </p>
            <p> Wotu </p>
        </div>

        <table>
            <tr>
                <td style="width: 30%;">Nomor</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">300 / / DLN / IX / 2020</td>
            </tr>
            <tr>
                <td style="width: 30%;">Lampiran</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"> - </td>
            </tr>
            <tr>
                <td style="width: 30%; vertical-align: top;">Perihal</td>
                <td style="width: 5%; vertical-align: top;">:</td>
                <td style="width: 65%;">Surat Keterangan Kehilangan</td>
            </tr>
        </table>

        <br><br>

        <!-- <h3 id=judul>SURAT PERNYATAAN</h3> -->

        <p><span style="color: white;">___</span>Yang bertanda tangan dibawah ini Kepala Desa Lampenai Kecamatan Wotu
            Kabupaten Luwu Timur. Menerangkan dengan sebenarnya bahwa :</p>

        <table style="margin-left: 10%;">
            <tr>
                <td style="width: 30%;">Nama</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Tempat, tanggal lahir</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%; vertical-align: top;">Alamat</td>
                <td style="width: 5%; vertical-align: top;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Jenis Kelamin</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Agama</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Pekerjaan</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">NIK</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;"></td>
            </tr>
        </table>

        <p><span style="color: white;">___</span> Sesuai dengan laporan warga kami tersebut diatas bahwa benar telah
            memiliki AKTA KELAHIRAN dan AKTA KELAHIRAN tersebut telah Hilang/Tercecer di sekitar Kec. Wotu.</p>
        <p><span style="color: white;">___</span>Demikian surat keterangan ini kami buat untuk ditindak lanjuti. </p>
        <br><br>



        <div style="width: 40%; text-align: left; float: right;">Lampenai, 28 September 2020 </div><br>
        <div style="width: 40%; text-align: left; float: right;">Kepala Desa Lampenai</div><br><br><br><br><br>
        <div style="width: 40%; text-align: left; float: right;">M. ZAENAL BACHRIE, S.AN</div>

    </div>
</body>

</html>